.App {
  text-align: center;
  background-color: rgb(203, 162, 162);
}

.App-header {
  background-color:gray;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: rgb(48, 216, 228);
  border-radius: 5vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Trip{
  align-items: start;
margin-left: 10px;
margin-right: 150px;
margin-top: 5px;
margin-bottom: 5px;
width: 30vh;
border-radius: 40px;

}
.Drip{
  border-radius: 20px;
}
.text{
  
  color: beige;
  font-size: 45px;
  font-weight: bolder;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;


}
.brick{
  color: rgb(255, 255, 128);
  font-size: 45px;
  font-weight: bolder;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.jordan{
  color: rgb(133, 253, 163);
  font-size: 45px;
  font-weight: bolder;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.venom{
  width: 44vh;
  transform: transform 0.3s ease filter 0.3s ease;
  transform:  scale(1.05);
  filter: brightness(1.1);
  height: auto;
  margin-bottom: 5px;
}
.logo{
  width:60px;
  height: 60px;
  border-radius: 50px;
}
.test{
  color: beige;
  font-size: xx-large;
  font-weight: bolder;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.xo{
  color: rgb(139, 203, 135);
  font-size: 45px;
  font-weight: bolder;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.prev{
  align-items: start;
}
.next{
  align-items: end;
}
.Elvis{
  .hover-image{
    width: 300px;
    height: auto;
    transition: transform 0.3s ease;
  }
  .hover-image:hover{
    transform: scale(1.1);
  }
}
.map{
  color: rgb(24, 223, 206);
}
.pay{
  font-size: 45px;
  color: rgba(44, 175, 5, 0.808);
  font-style: italic;
}
.money{
  width: 60px;
  height: 50px;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
}
.XOXO{
  font-size: 20px;
  color: #007ca1;
  font-style: italic;
}
.here{
  font-size: 35px;
  color: rgb(230, 122, 21);
}
.maps{
  color: rgb(210, 233, 9);
}
.total{
color: rgb(8, 172, 131);
font-style: italic;
}
.order{
  color: #ac25eb;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}
.cost{
  color: rgb(48, 255, 255);
}
